#about-title {
    margin-left: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30pt;
}

#about-body, i, li {
    margin-top: 1vh;
    padding-right: 3vw;
    margin-bottom: 1vh;
    margin-left: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    line-height: 150%;
    padding-right: 3vw;
}

ul {
    margin-left: 3vw;
}

#email {
    margin-top: 1vh;
    padding-right: 3vw;
    margin-bottom: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    line-height: 150%;
    display: block;
    text-decoration: underline;
    color: #ee3332;
    transition: transform .3s;
}

#email:hover {
    transform: scale(1.1);
}

#about-disc i {
    padding-right: 3vw;
    display: inline-flex;
}

span {
    display: flex;
}

#about-disc {
    display: inline;
}