.create-post-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-post-text {
    margin-bottom: 8px;
    color: white;
    font-size: 17px;
    background-color: #ee3332;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Avoid interaction when hidden */
    position: absolute; /* Prevent affecting layout */
    bottom: 100px; /* Position above the button */
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px); /* Slightly lower when hidden */
}

.create-post-container:hover .create-post-text {
    opacity: 1; /* Show on hover */
    transform: translateY(0); /* Reset position */
}

.create-post-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ee3332;
    color: white;
    font-size: 44px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.create-post-button:hover {
    background-color: #cc2929;
}