.submission-whole {
    width: 40vw;
    height: fit-content;
    border-radius: 5vw 5vw 5vw 5vw;
    transition: transform .25s;
    border: .65px solid black;
}

.image {
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
    justify-self: center;
    align-self: center;
    height: 25vh;
    width: 40vw;
    border-radius: 5vw 5vw 0vw 0vw;
}

.submission-whole:hover {
    transform: scale(1.05);
}

.submission-preview {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: fit-content;
    padding-bottom: 1vw;
    margin-left: 2vw;
}

.submission-name h2 {
    transition: transform .25s;
    text-decoration: underline;
    font-weight: 650;
    color: #222222;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 3vw;
}

.submission-name:hover h2 {
    transform: scale(1.02);
    color: #bb3332;
}

.submission-preview p {
    font-weight: 350;
    color: #222222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1vw;
    padding-right: 3vw;
    height: fit-content;
}

#source {
    font-weight: 350;
    color: #222222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1vw;
    padding-right: 3vw;
    height: fit-content;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    .submission-whole {
        border: .65px solid white;
    }

    .submission-name h2 {
        color: #DDDDDD;
    }

    .submission-preview p {
        color: #DDDDDD;
    }

    #source {
        color: #DDDDDD;
    }
}

@media (max-width: 700px) {
    .submission-whole {
        width: 80vw;
    }

    .submission-preview {
        width: 80vw;
    }

    .image {
        width: 80vw;
    }
}

@media (min-width: 1100px) {
    .submission-whole {
        width: 30vw;
    }
    .submission-preview {
        width: 30vw;
    }
    .image {
        width: 30vw;
    }
}

