/* ConfirmationModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.modal-content {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 330px;
    transform: scale(0.8);
    animation: popIn 0.3s forwards;
}

.modal-content h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.modal-content p {
    font-size: 17px;
}

.modal-buttons {
    display: flex;
    /*gap: 15px;*/
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-button {
    font-size: 17px;
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #cc2929;
}

.cancel-button {
    font-size: 17px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #666;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes popIn {
    to {
        transform: scale(1);
    }
}