.create-title h1 {
    text-align: center;
}

.full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    /* these were causing the div to overlap other elements */
    /* height: 100vh; */
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create-post-container {
    width: 90%; 
    padding: 40px 40px;
    border-radius: 10px;
    background-color: rgb(255, 43, 43);
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 10em;
    min-height: 500px;
    
}

.create-post-container h1{
    text-align: center;
    font-size: 24px;
    color: white;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-upload label {
    font-weight: bold;
    margin-bottom: 5px;
}

.image-upload input[type='file'] {
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

.image-upload img {
    margin-top: 10px;
    border-radius: 8px;
    width: 350px; 
    height: auto; 
    max-width: 100%; 
}

.pet-name, .desc-container {
    display: flex;
    flex-direction: column;
}
.pet-name label, .desc-container label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.pet-name input {
    border: none;
    padding: 6px;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 30%;
    color: black;
    font-size:large;
    text-align: center;
}

.desc-container .desc-input {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    font-size: large;
    height: 200px; 
    width: 500px; 
    resize: vertical; 
}


button {
    border: none;
    padding: 12px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white
}

button:hover {
    background-color: rgb(33, 33, 33);
}

.confirmation-text {
    padding-bottom: 30px;
}